/*html, body {*/
    /*height: 100%;*/
    /*padding-bottom: 0!important;*/
/*}*/

/*body {*/
    /*background: url(/static/img/gold_scale.png) repeat ;*/
/*}*/

/*.navbar{*/
    /*box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)*/
/*}*/

.root-container{
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.suzu-sidebar{
    background-color: darkslategray;
    margin-top: -15px;
    margin-left: -5px;
    padding: 15px;
    height: 100%;
    width: 300px;
}

.suzu-dynamic-content{
    margin-left: 300px;
}

.suzu-select-event-btn{
    float: right;
    margin-top: -5px;
    margin-right: -10px;
}

.suzu-event-modal-search-btn{
    right: 5px;
}

.suzu-event-modal-row-chkbtn{
    float: right;
    margin-top: -40px;
}

.suzu-checkin-input{
    margin-bottom: 20px;
}

.suzu-checkin-row-presencebtn{
    float: right;
    margin-top: -25px;
}

div.suzu-checkin-row{
    background-color: #f4f8fa;
    border-color:  #bce8f1;
    margin: 0;
    padding: 10px;
    border-left: 3px solid #002a80;
}

.suzu-checkin-row h4{
    color: #34789a;
}

/** Do site do bootstrap: */
.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}

.bs-callout {
    margin: 0;
    padding: 10px;
    border-left: 3px solid #eee;
}

.bs-callout-info:nth-child(even){
    background-color: #ebebeb;
}

.bs-callout-info h4 {
color: #34789a;
}

.bs-callout h4 {
margin-top: 0;
margin-bottom: 5px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar .container {

  margin-left: 0;
    margin-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

[ng\:cloak], [ng-cloak], .ng-cloak{
    display: none;
}

.report-container{

}

.report{
    margin-left: 0!important;
}

.report select{
    margin-bottom: 0;
}

/*#container{*/
    /*position: relative;*/
    /*min-height: 100%;*/
    /*background-color: #ffffff;*/
    /*padding: 1em 1em;*/
    /*border-color: #eee8aa;*/
    /*border-width: 1px;*/
    /*box-shadow: 0 0 5px 2px rgba(0,0,0,.35);*/
    /*border-radius: 5px;*/
/*}*/

/*Estilos para pagina inicial
*/

/*.masthead img{*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*width: auto\9; *//* ie8 */
/*}*/


/*.masthead {*/
    /*padding: 70px 0 80px;*/
    /*margin-bottom: 0;*/
    /*color: #fff;*/
/*}*/

/*.jumbotron {*/
    /*position: relative;*/
    /*padding: 40px 0;*/
    /*text-align: center;*/
    /*min-height: 600px;*/
    /*text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);*/
    /*background: url(/static/img/bola_5_cores.jpg) center center no-repeat;*/
    /*background-size: cover;*/
/*}*/

/*.jumbotron::before {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/

    /*opacity: .8;*/
/*}*/

/* Estilos para footer*/

/*footer {*/
    /*bottom: 0px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*height: 4em;*/
/*}*/

/*footer p {*/
    /*margin: 2em 2em;*/
/*}*/

/*Widget Current Event*/

/*.current_event_widget{*/
    /*padding: 8px;*/
    /*border: 3px solid #add8e6;*/
    /*border-radius: 6px;*/
    /*box-shadow:*/
        /*0 2px 1px rgba(0, 0, 0, 0.2),*/
        /*inset 0 2px 1px rgba(0, 0, 0, 0.2);*/
    /* Font styles */
    /*text-decoration: none;*/
    /*font-size: 14px;*/
    /*color: #222;*/
/*}*/

/*.select_event_link{*/
    /*display: block;*/
    /*color: #add8e6;*/
/*}*/

/*General*/
/*.suzu-loading{*/
    /*background: url(/static/img/linear_loading.gif) center center;*/
/*}*/

/*check-in*/
/*.person_list li{*/
    /*background-color: #ffffff;*/
    /*color: #2f4f4f;*/
    /*margin: 4px;*/
    /*padding-left: 10px;*/
    /*padding-bottom: 5px;*/
/*}*/

/*.person_list li:hover, .person_list li:focus, .person_list li:selection{*/
    /*background-color: #fffaf0;*/
/*}*/

/*.confirmation-alert {*/
    /*position: relative;*/
    /*background: #88b7d5;*/
    /*border: 2px solid #c2e1f5;*/
/*}*/
