{% load angularjs %}{% load i18n %}
<h3><span class="glyphicon glyphicon-ok"></span>  Marcar Presen&ccedil;as</h3>
<input class="form-control input-lg suzu-checkin-input" type="text" placeholder="Digite o nome" ng-model="searchText" ng-change="search()" focus-on="focusCheckinSearch">

<div class="yokoshi_list">
    <div class="media" >
        <div class="media-body suzu-checkin-row" ng-repeat="yokoshi in yokoshis" ng-class="{'yokoshi_list_highlight': yokoshi.navIndex == focusIndex}">
            <h4 class="media-heading">
            <i class="fa fa-circle" style="color: #428bca" title="Kumite" ng-show="yokoshi.is_mikumite==false" title="kumite"></i>
            <i class="fa fa-circle" style="color: #5cb85c" title="Mi-Kumite" ng-show="yokoshi.is_mikumite==true" title="mikumite"></i>
            {% ng yokoshi.complete_name %}</h4>
            <button class="btn btn-default btn-sm" ng-click="editYokoshi(yokoshi)"><span class="fa fa-pencil text-warning"></span> Corrigir Cadastro</button>
            <button class="btn btn-default btn-sm" ng-click="cancelPresence(yokoshi)" ng-disabled="!isYokoshiPresent(yokoshi)"><span class="fa fa-minus-square text-danger"></span> Cancelar Presen&ccedil;a</button>
            <span class="label label-default">{% ng yokoshi.han.name %}</span>
{#            habilitar novamente quando for solicitada feature de recadastramento: #}
{#            <span ng-show="yokoshi.last_registration_update == undefined" class="label label-warning">Recadastramento Pendente</span>#}
            <button class="suzu-checkin-row-presencebtn btn btn-success" ng-disabled="isYokoshiPresent(yokoshi)" ng-click="togglePresence(yokoshi)"><span class="fa fa-check"></span> {% ng getTogglePresenceBtnLabel(yokoshi) %}</button>
        </div>
        <div class="media-body suzu-checkin-row" ng-show="yokoshis.length == 0">
            <h4>Não encontrou o seu nome? Aperte Enter para cadastr&aacute;-lo!</h4>

        </div>

    </div>

</div>

    <!-- ====================================================== -->
	<!-- Modal de criacao  -->
	<!-- ====================================================== -->
	<script type="text/ng-template" id="confirmCreationModal.html">
		<div class="modal-header">
			<h3 class="modal-title">Confirma&ccedil;&atilde;o de Cadastro</h3>
		</div>
		<div class="modal-body">
			<h4 ng-show="isConfirmRegistration()">Deseja confirmar o cadastro de <b>{% ng yokoshi.complete_name %}</b> ?</h4>
			<h4 ng-show="isConfirmIsGuest()">Marcar como convidado?</h4>
			<h4 ng-show="isConfirmIsFirstTime()">Marcar como primeira visita?</h4>
		</div>
		<div class="modal-footer">
			<button ng-show="isConfirmRegistration()" class="btn btn-success" ng-click="proceedRegistration()">Sim</button>
			<button ng-show="isConfirmRegistration()" class="btn btn-danger" ng-click="cancelRegistration()">N&atilde;o</button>
            <button ng-show="isConfirmIsGuest()" class="btn btn-success" ng-click="setAsGuest()">Sim</button>
			<button ng-show="isConfirmIsGuest()" class="btn btn-danger" ng-click="setAsNotGuest()">N&atilde;o</button>
            <button ng-show="isConfirmIsFirstTime()" class="btn btn-success" ng-click="setAsFirstTime()">Sim</button>
			<button ng-show="isConfirmIsFirstTime()" class="btn btn-danger" ng-click="setAsNotFirstTime()">N&atilde;o</button>
		</div>
    </script>

<!-- ====================================================== -->
	<!-- Modal de correcao  -->
	<!-- ====================================================== -->
	<script type="text/ng-template" id="editYokoshiModal.html">
		<div class="modal-header">
			<h3 class="modal-title">Corre&ccedil;&atilde;o de Cadastro</h3>
		</div>
		<div class="modal-body">
            <form name="yokoshiEditForm">
                <div class="form-group">
                    <label for="nameInput">Nome Completo</label>
                    <input class="form-control" id="nameInput" type="text" required ng-model="selectedYokoshi.complete_name"/>
                </div>
                <div class="form-group">
                    <label for="isKumiteInput">É Convidado (Mi-Kumite)?</label>
                    <input  ng-model="selectedYokoshi.is_mikumite" type="checkbox"/>
                </div>
                <div class="form-group" ng-show="selectedYokoshi.is_mikumite == false">
                    <label for="mahikariTaiInput">É do grupo de Jovens (Mahikari-tai)?</label>
                    <input ng-model="selectedYokoshi.is_mtai" type="checkbox"/>
                </div>
            </form>

		</div>
		<div class="modal-footer">
			<button class="btn btn-default" ng-click="cancel()">Cancelar</button>
			<button class="btn btn-primary" ng-click="submit()" ng-disabled="yokoshiEditForm.$invalid"><i class="fa fa-check"></i> Corrigir</button>
		</div>
    </script>
