{% load angularjs %}{% load i18n %}{% load static %}
<!doctype html>
<html lang="pt" ng-app="suzuClientApp">
<head>
    <meta charset="utf-8">
    <title><b>SUZU</b>2</title>
    <!-- =================================================================================  -->
    <!-- ::: CSS ::: -->
    <!-- =================================================================================  -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/suzu.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.pnotify.default.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">
    <link href="{% static 'css/select.css' %}" rel="stylesheet">
</head>
<body key-trap>
<!-- =================================================================================  -->
<!-- ::: HEADER / NAVIGATION BAR ::: -->
<!-- =================================================================================  -->
<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>SUZU</b>2</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                {% if perms.suzu.suzu_admin %}
                <li><a href="/admin">Admin</a></li>
                {% endif %}
{#            {% if perms.suzu.add_yokoshi %}#}
{#                <li><a href="admin/attendancebook/yokoshi/"><span class="glyphicon glyphicon-book"></span>  Cadastrar Pessoa</a></li>#}
{#                {% endif %}#}
                {% if perms.suzu.add_yokoshi %}
                <li><a href="#/inform_yokoshi_update"><span class="glyphicon glyphicon-book"></span>  Informar Atualiza&ccedil;&atilde;o de Cadastro</a></li>
                <li><a href="#/update_han"><span class="glyphicon glyphicon-book"></span>  Atualizar N&uacute;cleo</a></li>
                {% endif %}
                {% if perms.suzu.suzu_check_in %}
                <li><a href="#/checkin"><span class="glyphicon glyphicon-ok"></span>  Marcar presen&ccedil;as</a></li>
                {% endif %}
                {% if perms.suzu.suzu_reports %}
                <li><a href="#/reports"><span class="glyphicon glyphicon-list-alt"></span>  Relat&oacute;rios</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-right navbar-nav pull-right">
                   {% if user.is_authenticated %}
                    <li class="navbar-text">{{ user.username }}</li>
                    <li><a href="/accounts/logout/">Logout</a></li>
                   {% else %}
                    <li><a href="/accounts/login/">Login</a></li>
                   {% endif %}
               </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</header>
<!-- /.navbar -->
<!-- =================================================================================  -->
<!-- ::: WORKSPACE ::: -->
<!-- =================================================================================  -->
<div class="container root-container">
        <!-- =================================================================================  -->
        <!-- ::: SIDEBAR ::: -->
        <!-- =================================================================================  -->
        {% if user.is_authenticated %}
        <div class="affix suzu-sidebar" id="sidebar" role="navigation" ng-controller="SidebarController">
            <!--+++++ ::: EVENT INFO ::: +++++-->
            <div class="panel panel-default event-information">
                <div class="panel-heading">
                    Evento
                    <button class="btn btn-default btn-sm suzu-select-event-btn pull-right" data-toggle="modal"
                            data-target="#createEventModal">
                        <span class="glyphicon glyphicon-plus"></span> Evento de Hoje
                    </button>
                    {% if perms.suzu.suzu_past_events %}
                    <button class="btn btn-default btn-sm suzu-select-event-btn pull-right" data-toggle="modal"
                            data-target="#selectEventModal">
                        <span class="glyphicon glyphicon-bell"></span> Eventos Passados
                    </button>
                    {% endif %}
                </div>
                <div class="panel-body ng-cloak" ng-show="currentEvent"><b>{% ng currentEvent.event_type.name %}</b> <h3 style="margin-top: 5px;"><span class="fa fa-calendar"></span> {% ng currentEvent.begin_date_time | date: 'dd/MM/yyyy'%}</h3> </div>
            </div>

            <!--+++++ ::: NEWSFEED ::: +++++-->
            <div class="panel panel-default newsfeed" ng-cloak>
                <div class="panel-heading">
                    <b>Presen&ccedil;as (Total: {% ng presences.length | isempty: '0' %})</b><span class="fa fa-spinner fa-spin" ng-show="loading" ></span>
                <button class="btn btn-default btn-sm suzu-select-event-btn pull-right" ng-click="refreshPresences()">
                        <span class="fa fa-refresh"></span> Atualizar
                    </button>
                </div>
                <div class="panel-body">
                    <div class="counters">
                        <div class="counter kumite"><span class="value">{% ng kumiteCount %}</span><span class="label">KUMITE</span></div>
                        <div class="counter mtai"><span class="value">{% ng mtaiCount %}</span><span class="label">MTAI</span></div>
                        <div class="counter mikumite"><span class="value">{% ng mikumiteCount %}</span><span class="label">MIKUMITE</span></div>
                        <div class="counter firsttime"><span class="value">{% ng firstTimeCount %}</span><span class="label">1&ordf; VEZ</span></div>
                    </div>

                    <div class="presence-list">
                    <table class="table table-striped table-condensed ng-cloak">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="presence in presences">
                                <td>{% ng presences.length - $index %}</td>
                                <td>
                                    <i class="fa fa-circle" style="color: #428bca" title="Kumite" ng-show="presence.yokoshi.is_mikumite==false"></i>
                                    <i class="fa fa-circle" style="color: #2b542c" title="Mahikari-tai" ng-show="presence.yokoshi.is_mtai==true"></i>
                                    <i class="fa fa-circle" style="color: #5cb85c" title="Mi-Kumite" ng-show="presence.yokoshi.is_mikumite==true"></i>
                                    <i class="fa fa-circle" style="color: #d9534f" title="1&ordf; Vez" ng-show="presence.is_first_time==true"></i>
                                    {% ng presence.yokoshi.complete_name %}
                                    <span class="label label-light">{% ng presence.yokoshi.han.name %}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}
        <!-- =================================================================================  -->
        <!-- ::: DYNAMIC AREA ::: -->
        <!-- =================================================================================  -->
        <div class="col-md-9 suzu-dynamic-content" ng-view>
            <!-- Conteudo dinamico: carregado pelo router do AngularJS -->

        </div>

    <!-- =================================================================================  -->
    <!-- ::: MODAL DE SELECAO DE EVENTO ::: -->
    <!-- =================================================================================  -->
    <event-selection></event-selection>
    <event-creation></event-creation>

    <!--/.container-->
</div>

{#    <div ng-view></div>#}

<!-- =================================================================================  -->
<!-- ::: SCRIPTS ::: -->
<!-- =================================================================================  -->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="{% static 'js/third/jquery.js'%}"></script>
<!-- o pnotify sem estar minimizado possui uma correcao para bootstrap 3-->
<script src="{% static 'js/third/jquery.pnotify.js'%}"></script>
<script src="{% static 'js/third/moment.js'%}"></script>
<script src="{% static 'js/third/bootstrap.js'%}"></script>
<script src="{% static 'js/third/angular.js'%}"></script>
<script src="{% static 'js/third/angular-cookies.js'%}"></script>
{#<script src="{% static 'js/third/angular-mocks.js'%}"></script>#}
<script src="{% static 'js/third/angular-route.js'%}"></script>
<script src="{% static 'js/third/angular-sanitize.js'%}"></script>
<script src="{% static 'js/third/angularstrap.js'%}"></script>
<script src="{% static 'js/third/ui-bootstrap.js'%}"></script>
<script src="{% static 'js/third/date.js'%}"></script>
<script src="{% static 'js/third/bootstrap-datepicker.js'%}"></script>
<script src="{% static 'js/third/messaging-services.js'%}"></script>
<script src="{% static 'js/third/highcharts.js'%}"></script>
<script src="{% static 'js/third/underscore.js'%}"></script>
<script src="{% static 'js/third/typeahead.min.js'%}"></script>
<script src="{% static 'js/third/select2.js'%}"></script>
<script src="{% static 'js/third/select2_locale_pt-BR.js'%}"></script>
<script src="{% static 'js/third/select.js'%}"></script>
<script src="{% static 'js/keyevents.js'%}"></script>
<script src="{% static 'js/suzuclient/suzuclient.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/CheckInController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/DummyController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/EventController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/EventEditController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/YokoshiController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/YokoshiEditController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/SidebarController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/SingleEventReportController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/YokoshiHistoryReportController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/MikumiteReportController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/ExportReportController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/InformYokoshiUpdateController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/ModalCreateYokoshiController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/ModalYokoshiEditController.js'%}"></script>
<script src="{% static 'js/suzuclient/controllers/UpdateHanController.js'%}"></script>
<script src="{% static 'js/suzuclient/services/EventService.js'%}"></script>
<script src="{% static 'js/suzuclient/services/YokoshiService.js'%}"></script>
<script src="{% static 'js/suzuclient/services/HanService.js'%}"></script>
<script src="{% static 'js/suzuclient/services/ReportService.js'%}"></script>
<script src="{% static 'js/suzuclient/services/NotificationService.js'%}"></script>
<script src="{% static 'js/suzuclient/directives/FocusDirective.js'%}"></script>
<script src="{% static 'js/suzuclient/directives/KeyTrapDirective.js'%}"></script>
<script src="{% static 'js/suzuclient/directives/EventSelectionDirective.js'%}"></script>
<script src="{% static 'js/suzuclient/directives/EventCreationDirective.js'%}"></script>
</body>
</html>