{% load angularjs %}{% load i18n %}
<!doctype html>
<html lang="pt" ng-app="suzuClientApp">
<head>
    <meta charset="utf-8">
    <title><b>SUZU</b>2</title>
    <!-- =================================================================================  -->
    <!-- ::: CSS ::: -->
    <!-- =================================================================================  -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/suzu.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.pnotify.default.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/select.css" rel="stylesheet">
</head>
<body key-trap>
<!-- =================================================================================  -->
<!-- ::: HEADER / NAVIGATION BAR ::: -->
<!-- =================================================================================  -->
<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>SUZU</b>2</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                {% if perms.suzu.suzu_admin %}
                <li><a href="/admin">Admin</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-right navbar-nav pull-right">
                   {% if user.is_authenticated %}
                    <li class="navbar-text">{{ user.username }}</li>
                    <li><a href="/accounts/logout/">Logout</a></li>
                   {% else %}
                    <li><a href="/accounts/login/">Login</a></li>
                   {% endif %}
               </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</header>
<!-- /.navbar -->
<!-- =================================================================================  -->
<!-- ::: WORKSPACE ::: -->
<!-- =================================================================================  -->
<div class="container root-container">
    <div class="row">
        <!-- =================================================================================  -->
        <!-- ::: SIDEBAR ::: -->
        <!-- =================================================================================  -->
        {% if user.is_authenticated %}
        <div class="affix suzu-sidebar" id="sidebar" role="navigation" ng-controller="SidebarController">
            <!--+++++ ::: EVENT INFO ::: +++++-->
            <div class="panel panel-default event-information">
                <div class="panel-heading">
                    Evento
                    <button class="btn btn-default btn-sm suzu-select-event-btn" data-toggle="modal"
                            data-target="#selectEventModal">
                        <span class="glyphicon glyphicon-bell"></span> Escolher Evento
                    </button>
                </div>
                <div class="panel-body ng-cloak" ng-show="currentEvent"><b>{% ng currentEvent.event_type.name %}</b><br><span class="glyphicon glyphicon-time"></span>  {% ng currentEvent.begin_date_time %} </div>
            </div>

            <!--+++++ ::: MENU LATERAL ::: +++++-->
            <div class="list-group quicktoolbar">
                {% if perms.suzu.add_yokoshi %}
                <a href="admin/registration/yokoshi/" class="list-group-item"><span class="glyphicon glyphicon-book"></span>  Cadastrar Pessoa</a>
                {% endif %}
                {% if perms.suzu.add_yokoshi %}
                <a href="#/inform_yokoshi_update" class="list-group-item"><span class="glyphicon glyphicon-book"></span>  Informar Atualiza&ccedil;&atilde;o de Cadastro</a>
                {% endif %}
                {% if perms.suzu.suzu_check_in %}
                <a href="#/checkin" class="list-group-item"><span class="glyphicon glyphicon-ok"></span>  Marcar presen&ccedil;as</a>
                {% endif %}
                {% if perms.suzu.suzu_reports %}
                <a href="#/reports" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span>  Relat&oacute;rios</a>
                {% endif %}

            </div>
            <!--+++++ ::: NEWSFEED ::: +++++-->
            {% comment %}<div class="panel panel-default newsfeed">
                <div class="panel-heading">Newsfeed</div>
                <div class="panel-body"></div>

            </div>{% endcomment %}
        </div>
        {% endif %}
        <!-- =================================================================================  -->
        <!-- ::: DYNAMIC AREA ::: -->
        <!-- =================================================================================  -->
        <div class="col-md-9 suzu-dynamic-content" ng-view>
            <!-- Conteudo dinamico: carregado pelo router do AngularJS -->

        </div>

    </div>
    <!--/row-->

    <!-- =================================================================================  -->
    <!-- ::: MODAL DE SELECAO DE EVENTO ::: -->
    <!-- =================================================================================  -->
    <event-selection/>

    <!--/.container-->
</div>

{#    <div ng-view></div>#}

<!-- =================================================================================  -->
<!-- ::: SCRIPTS ::: -->
<!-- =================================================================================  -->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
-->
<script src="{{ STATIC_URL }}js/third/jquery.js"></script>
<!-- o pnotify sem estar minimizado possui uma correcao para bootstrap 3-->
<script src="{{ STATIC_URL }}js/third/jquery.pnotify.js"></script>
<script src="{{ STATIC_URL }}js/third/moment.js"></script>
<script src="{{ STATIC_URL }}js/third/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/third/angular.js"></script>
<script src="{{ STATIC_URL }}js/third/angular-cookies.js"></script>
{#<script src="{{ STATIC_URL }}js/third/angular-mocks.js"></script>#}
<script src="{{ STATIC_URL }}js/third/angular-route.js"></script>
<script src="{{ STATIC_URL }}js/third/angular-sanitize.js"></script>
<script src="{{ STATIC_URL }}js/third/angularstrap.js"></script>
<script src="{{ STATIC_URL }}js/third/ui-bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/third/date.js"></script>
<script src="{{ STATIC_URL }}js/third/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/third/messaging-services.js"></script>
<script src="{{ STATIC_URL }}js/third/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/third/underscore.js"></script>
<script src="{{ STATIC_URL }}js/third/typeahead.min.js"></script>
<script src="{{ STATIC_URL }}js/third/select2.js"></script>
<script src="{{ STATIC_URL }}js/third/select2_locale_pt-BR.js"></script>
<script src="{{ STATIC_URL }}js/third/select.js"></script>
<script src="{{ STATIC_URL }}js/keyevents.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/suzuclient.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/CheckInController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/DummyController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/EventController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/EventEditController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/YokoshiController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/YokoshiEditController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/SidebarController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/SingleEventReportController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/YokoshiHistoryReportController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/MikumiteReportController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/ExportReportController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/InformYokoshiUpdateController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/controllers/ModalCreateYokoshiController.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/services/EventService.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/services/YokoshiService.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/services/HanService.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/services/ReportService.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/services/NotificationService.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/directives/FocusDirective.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/directives/KeyTrapDirective.js"></script>
<script src="{{ STATIC_URL }}js/suzuclient/directives/EventSelectionDirective.js"></script>
</body>
</html>